<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta httpEquiv="Content-Language" content="en" />
		<title><%= htmlWebpackPlugin.options.title%></title>
	</head>
	<body>
		<div id="root"></div>
		<% for (const chunk in htmlWebpackPlugin.files.chunks) { %><script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script
		><% } %>
	</body>
</html>
